@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*fonte header*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*fonte estrofe*/


*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    min-width: 100vh;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.cordel{
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 5vw;
    padding-top: 50px;
    margin-bottom: 0px;
}

.milton{
    font-family: 'Passion One', cursive;
    font-size: 1.5vw;
    padding-bottom: 50px;
    margin-top: 2px;
}

section{
    font-family: 'Sriracha', cursive;
    font-size: 2.1vw;
    font-weight: bold;
    line-height: 2em;
    border-left: 1px solid black;
    border-right: 1px solid black;  
    padding-top: 10vh;  
    padding-bottom: 10vh;
    padding-left: 30px;
    text-align: left;
}

.imagem{
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
}

#back01{
    background-image: url(imagens/background001.jpg);
  }

.insidetext{
    display:inline-block;
    padding: 5px;
    background-color: rgba(32, 32, 32, 0.384);
    color: white;
    border-radius: 2px;
    
}

#back02{
    background-image: url(imagens/background002.jpg);
}

footer{
    font-family: Header, cursive;
    color: snow;
    background-color: black;
    padding: 5px;
    text-align: center;
}