@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /*fonte header*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /*fonte estrofe*/

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    min-width: 400px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

.cordel{
    font-family: 'Passion One', cursive;
    font-size: 60px;
    font-variant: small-caps;
    font-weight: normal;
    padding-top: 50px;
    margin-bottom: 0px;
}

.milton{
    font-family: 'Passion One', cursive;
    font-size: 18px;
    padding-bottom: 50px;
    margin-top: 2px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: 'Sriracha', cursive;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    border-left: 1px solid black;
    border-right: 1px solid black;  
    padding-top: 10vh;  
    padding-bottom: 10vh;
    padding-left: 30px;
    text-align: left;
}

.back{
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    max-width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#back01{
    background-image: url(imagens/background001.jpg);
  }

#back02{
    background-image: url(imagens/background002.jpg);
}

.insidetext{
    display:inline-block;
    background-color: rgba(32, 32, 32, 0.5);  
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    border-radius: 2px;
    
}

footer{
    font-family: 'Passion One', cursive;
    font-size: 1.1em;
    color: snow;
    background-color: black;
    padding: 5px;
    text-align: center;
}